############################
# ENV FILES
############################
.env

############################
# BACKEND
############################
backend/target/
backend/*.log

############################
# FRONTEND
############################
frontend/node_modules/
frontend/build/

############################
# OS FILES
############################
.DS_Store

############################
# IDE
############################
.idea/
.vscode/

############################
# K8s certs
############################
k8s/certs/